@model System.Data.DataTable
@{
    ViewData["Title"] = "Index";
}

<h1>Zamowienia</h1>

<table class="table table-bordered table-striped">
    <tr>
        <th>id_zamowienia</th>
        <th>id_klient</th>
        <th>data zamówienia</th>
        <th>status zamówienia</th>
        <th>cena zamówienia</th>
        <th></th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][4]</td>

            <td>
                <a href="@Url.Action("StatusEdit", "Zamowienie", new { @id=Model.Rows[i][0] })">Zmień status zamówienia</a>
            </td>
        </tr>
    }
</table>