@model MVCSHOP.Models.KlientAdresUser

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Klient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <h1>Dane Adresu</h1>
            <div class="form-group">
                <label asp-for="Ulica" class="control-label"></label>
                <input asp-for="Ulica" value="@ViewData["Ulica"]" class="form-control" />
                <span asp-validation-for="Ulica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lokal" class="control-label"></label>
                <input asp-for="Lokal" value="@ViewData["Lokal"]" class="form-control" />
                <span asp-validation-for="Lokal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumerLokal" class="control-label"></label>
                <input asp-for="NumerLokal" value="@ViewData["Numer lokalu"]" class="form-control" />
                <span asp-validation-for="NumerLokal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KodPocztowy" class="control-label"></label>
                <input asp-for="KodPocztowy" value="@ViewData["Kod pocztowy"]" class="form-control" />
                <span asp-validation-for="KodPocztowy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Miasto" class="control-label"></label>
                <input asp-for="Miasto" value="@ViewData["Miasto"]" class="form-control" />
                <span asp-validation-for="Miasto" class="text-danger"></span>
            </div>

            <h1>Dane do logowania</h1>
            <div class="form-group">
                <label asp-for="UserPassword" class="control-label"></label>
                <input asp-for="UserPassword" value="@ViewData["Haslo"]" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserLogin" class="control-label"></label>
                <input asp-for="UserLogin" value="@ViewData["Login"]" class="form-control" />
                <span asp-validation-for="UserLogin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRole" class="control-label"></label>
                <input asp-for="UserRole" value="@ViewData["Rola"]" class="form-control" />
                <span asp-validation-for="UserRole" class="text-danger"></span>
            </div>

            <h1>Dane osobiste</h1>
            <div class="form-group">
                <label asp-for="Imie" class="control-label"></label>
                <input asp-for="Imie" value="@ViewData["Imie"]" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="control-label"></label>
                <input asp-for="Nazwisko" value="@ViewData["Nazwisko"]" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" value="@ViewData["Email"]" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefon" class="control-label"></label>
                <input asp-for="Telefon" value="@ViewData["Telefon"]" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataZostaniaKlientem" class="control-label"></label>
                <input asp-for="DataZostaniaKlientem" value="@ViewData["DataZostaniaKlientem"]" class="form-control" />
                <span asp-validation-for="DataZostaniaKlientem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

